#about
  &.section-wrapper .content-wrapper
    bottom: auto
  .about-people
    font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif
    margin: 40px 0
    text-align: justify
    p
      margin: 0 0 10px
      font-size: 15px
  #about-vito img
    float: left
    margin: 0 15px 8px 0
    width: 100px
  #about-lely img
    float: right
    margin: 0 0 8px 15px
    width: 100px
  #about-comment, #about-timeline
    p,h1,h2,h3,h4,h5,h6
      text-align: center
    h1,h2,h3,h4
      margin-top: 0
  .text-muted
    color: #fff
  //.llv-timeline .timeline-panel
  //  background: rgba(255,255,255,0.7)
  .llv-timeline
    .timeline-badge, p
      font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial, sans-serif
    .timeline-badge
      font-size: 15px
  .timeline-badge
    font-size: 1.2em
  .timeline-panel.panel-inverted
    float: right
  .timeline-panel.panel-inverted:before
    right: auto
    left: -15px
    border-right-width: 15px
    border-left-width: 0
  .timeline-panel.panel-inverted:after
    right: auto
    left: -14px
    border-right-width: 14px
    border-left-width: 0
  li
    .timeline-panel
      text-align: right
    img
      margin: 3px
      display: inline-block
  li.timeline-inverted .timeline-panel
    text-align: left
  li .timeline-panel.panel-inverted
    text-align: left
  
  li.timeline-love
    .timeline-panel
      color: #d9534f !important
      background: transparent
      box-shadow: none
      border: none
      &:after
        border-color: transparent
      &:before
        border-color: transparent        
