#invitation
  &.section-wrapper .content-wrapper
    bottom: auto
  .invitation-detail
    .invitation-akad
      border-bottom: 1px solid $foreground-color
      @media (min-width: $screen-md-min)
        border: none
      h6
        line-height: 30px
    .invitation-reception
      border: none
      @media (min-width: $screen-md-min)
        border-left: 1px solid $foreground-color
      h6
        line-height: 30px
