<article id="about" class="section-wrapper clearfix">
  <div class="content-wrapper clearfix">
    <div class="col-sm-12 pull-right">
      <h1>Our Story</h1>

      <div id="about-vito" class="about-people row">
        <div class="col-md-8 col-md-offset-2">
          <img src="images/vito.jpg" class="img-responsive"/>
          <p>Enggak pernah kebayang 4 tahun yang lalu kalau hari ini aku, si ganteng ini, akan menulis tentang anak ini di sini, di UNDANGAN PERNIKAHAN KAMI (Kami = Aku dan Lely, si bintang utama cerita epik berjudul 'tentang Luna', hihihihiii red)</p>

          <p>Ya setelah (seolah-olah) pacaran 4 tahun akhirnya kami memutuskan mengundang kalian semua menghadiri pernikahan kami. Yup, aku, si ganteng, dan dia, si monyong, kami akan MENIKAH! kapan? dimana? tuh, lihat di <a ui-sref="home">foto unyu kami yang di depan</a>.</p>

          <p>Lalu kenapa nikahnya sama Lely?</p>

          <p><a ui-sref="aboutVito"><strong>Find out why here !!</strong></a></p>
        </div>
      </div>

      <div id="about-lely" class="about-people row">
        <div class="col-md-8 col-md-offset-2">
          <img src="images/lely.jpg" class="img-responsive"/>
          <p>Tulisan ini ditujukan untuk mengimbangi ke-<em>ancur</em>-an pihak laki-laki</p>

          <p>Tahun 2007 ikut <em>study tour</em> sekolah (SKAL), dengan tujuan Jogja, Bandung, dan Jakarta dengan panitia Kediri adalah peserta SKAL, sedangkan panitia lokal Jogja, Bandung, dan Jakarta adalah kakak-kakak alumni yang lanjut kuliah di kota-kota itu</p>

          <p>Dari situ lah awal tahu dan kenal si Mas Vito ini. Dia yang apes jadi pemain pengganti jadi pemandu salah satu bus SKAL Jakarta, tapi <em>lucky</em> soalnya di bus itu ada aku. Hahahah. Sampe <strong><em>“the moment of kebelet pipis"</em></strong> tapi macet di tol. Sebel setengah polos nanya, "Mas, kebelet pipis banget nih... masih jauh? Ga ada toilet apa deket-deket sini?"</p>

          <p><a ui-sref="aboutLely"><strong>Read more...</strong></a></p>
        </div>
      </div>

      <div class="row" ui-view autoscroll="comment">
        <div id="about-comment" class="col-md-12">
          <h6>If you know <em>both</em> or even just <em>one</em> of us,<br>
          please share your thoughts below</h6>
          <p>We'd love to hear from you...</p>
          <div class="fb-comments" llvwd-fb-comment
            data-href="http://timotiusnc.github.io/lelyvito/#/about"
            data-width="100%"
            data-numposts="10"
            data-colorscheme="light"
            data-order-by="reverse_time">
          </div>
        </div>

        <a ui-sref="history" class="link-scroll btn btn-outline-inverse btn-lg">check our timeline</a>
      </div>
    </div><!-- .col-sm-10 -->
  </div><!-- .content-wrapper -->
</article>
