<div id="theme-changer" ng-class="{active: isActive}">
  <span id="demo-setting" ng-click="toggleThemeChanger()">
    <i class="fa fa-cog"></i>
  </span>

  <form>
    <legend>Background Chooser</legend>
    <section>
      <label>
        <input type="radio" ng-model="bgColor" value="white">
        White
      </label>

      <label>
        <input type="radio" ng-model="bgColor" value="gray">
        Gray
      </label>

      <label>
        <input type="radio" ng-model="bgColor" value="light-gray">
        Light Gray
      </label>
    </section>
  </form>
</div>
